In [1]:
def sprint(*args, **kwargs):
    from io import StringIO
    sio = StringIO() 
    print(*args, **kwargs, file=sio) 
    return sio.getvalue()

In [2]:
txt1 = "My name is {fname}, I'm {age}".format(fname = "John", age = 36)
txt2 = "My name is {0}, I'm {1}".format("John",36)
txt3 = "My name is {}, I'm {}".format("John",36)
txt4 = "My name is {1}, I'm {0}".format("John",36)
print(txt1)
print(txt2)
print(txt3)
print(txt4)

My name is John, I'm 36
My name is John, I'm 36
My name is John, I'm 36
My name is 36, I'm John

In [3]:
txt = "We have {:10d} chickens."
# convert binary to decimal
print(txt.format(0b101))

We have          5 chickens.

In [4]:
txt = "For only {price:.2f} dollars!"
print(txt.format(price = 49))
print("For only {price:.2f} dollars!".format(price=49))

For only 49.00 dollars!
For only 49.00 dollars!

In [5]:
x='{0}/{1}/{2}'.format('foo', 'bar', 'baz')

In [6]:
'{0:20s}/{2}/{1}'.format('foo', 'bar', 'baz')

'foo                 /baz/bar'

In [7]:
print("%15s %5s - %10s" %('foo', 'bar', 'baz') , end='@')

            foo   bar -        baz@

In [8]:
z=sprint("%15s %5s - %10s" %('foo', 'bar', 'baz') , end='@')
print(z)

            foo   bar -        baz@

In [9]:
#Use " " (a space) to insert a space before positive numbers and a minus sign before negative numbers:
txt = "The temperature is between {: } and {: } degrees celsius."
print(txt.format(-3, 7))

The temperature is between -3 and  7 degrees celsius.

In [10]:
txt = "The Hexadecimal version of {0} is {0:X}"
print(txt.format(255))

The Hexadecimal version of 255 is FF

In [11]:
from math import pi
pb=10000*pi
print("10000*pi = {0:10.5f} {0:15.7G}".format(pb))

10000*pi = 31415.92654        31415.93

In [12]:
import locale
locale.setlocale(locale.LC_ALL, 'en_US')
locale.atoi("1,000,000")

1000000

In [13]:
#Use "," to add a comma as a thousand separator:

txt = "The universe is {:,} years old."

print(txt.format(13800000000))

The universe is 13,800,000,000 years old.

In [22]:
from math import pi 
pb=10000*pi 
print("10000*pi = {0:10.5f} {0:15.7G} {0:,.2f}".format(pb))

10000*pi = 31415.92654        31415.93 31,415.93